
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
<br />
<h1> Burası test için açılmış bir sayfadır</h1> 
<br />
<p> Ad-Soyad: Onurcan Şimşek</p>
<p> Meslek: Bilgisayar Mühendisi</p>
<p> Numara: 05447785154</p>

